<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminder</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>

<section id="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Reminder</a>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col s4">
            <div class="row">
                <h5>Add new event</h5>
                <form class="col s12" id="event-form">
                    <div class="input-field col s12">
                        <input id="event_title" type="text" class="validate" required>
                        <label for="event_title">Event title</label>
                    </div>

                    <div class="input-field col s12">
                        <input type="date" id="event_date" class="datepicker" required>
                        <label for="event_date">Choose date</label>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type=time id="event_time" value="" required>
                        </div>
                    </div>

                    <input type="submit" value="Submit" class="waves-effect waves-light btn">
                </form>
            </div>
        </div>

        <div class="col s4">
            <h5>Available events</h5>

            <ul class="collection" id="event_list"></ul>
        </div>

        <div class="col s4">
            <h5>Passed events</h5>

            <p>There is no passed events right now</p>
        </div>
    </div>
</section>

<script id="event_tmpl" type="template">
    <li class="collection-item avatar" id="<%_id_%>">
        <i class="material-icons circle green">snooze</i>
        <p class="title" style="width: 290px !important;">
            <b><%_title_%></b>
        </p>
        <p><%_date_%></p>

        <div>
            <a href="#!" class="secondary-content" title="subscribe" style="margin-right: 30px"><i class="updateEvent material-icons">add_alert</i></a>
            <a href="#!" class="secondary-content" title="delete"><i class="delete material-icons icon-red">delete</i></a>
        </div>
    </li>
</script>

<script src="bundle.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15
    });
</script>

<style type="text/css">
    i.icon-red {
        color: red;
    }
    i.icon-yellow {
        color: yellow;
    }
</style>
</body>
</html>